<!DOCTYPE html>
<html lang="en">
{% extends "base.html" %}
{% block corps %}
<!-- Content Row -->
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Add a new music score:</h1>
        <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
    </div>

{% if send %}Thank for your contribution !{% endif %}
<form action="{% url "add_score" %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit" />
</form>

</div>
{% endblock %}


</html>